* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
body {
    margin: 0;
    background-color: #22252c;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    justify-content: space-between;
}

img {
    object-fit: cover;
}

main {
    border-radius: 10px;
    background-color: #383b42;
}

input {
    border: none;
    border-radius: 29px;
    color: white;
    height: 3rem;
    margin: 0.5rem;
}

.container {
    margin: 0.5rem;
    padding: 1rem 2.5rem;
}

.header-btn-container>* {
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-inline-start: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.header-btn-container>*:hover {
    background-color: white;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: #00a846;
}

.logo {
    height: 20px;
    align-self: center;
}

/* IMAGE GALLERY */

.gallery-container {
    display: flex;
    flex-direction: column;
}

.search-area{
    display: flex;
}


.input-keywords {
    background: url(/img/btn-search.png) no-repeat scroll;
    background-size: 8%;
    background-position-x: 90%;
    background-position-y: 50%;
    background-color: #22252c;
    color: rgb(221, 221, 221);
    font-size: 1.5rem;
    padding: 3px 20px;
}

@media (max-width: 800px){
    .search-area{
        flex-direction: column;
    }

    .input-keywords {
        background-size: 3%;
        background-position-x: 95%;
        background-position-y: 50%;
        padding: 3px 20px;
    }
}

.keywords-area {
    display: flex;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
    height: 3rem;
    flex-grow: 1;
    font-weight: 200;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    gap: 2px
}

.img-gallery {
    padding-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 20px;
}

.img-gallery img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* CANVAS EDITOR */

.editor-container {
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width : 990px){
    .editor-container {
        flex-direction: column;
        align-items: center;
    }
}

.canvas-container {
    background-color: #ebeef346;
    padding: 20px 20px;
    width: 440px;
}

.edit-settings-container {
    background-color: #ebeef346;
    padding: 10px 20px;
    width: 440px;
    justify-content: space-evenly;
}

@media (max-width : 990px){
    .edit-settings-container {
        height: 440px;
    }
}

.input-meme-text {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin: 0%;
}

.line-setting-btn-container {
    justify-content: center;
    gap: 20px;
}

.text-setting-btn-container {
    border-radius: 15px;
    padding: 10px;
    background-color: #19a59f;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
}

.setting-btn {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border: none;
    cursor: pointer;
}

.setting-btn:hover {
    position: relative;
    top: 4px;
    box-shadow: 0px 0px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 0 #048b97;
    border-radius: 10px;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-switch:hover {
    box-shadow: 0px 0px 0 #048b97;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.btn-add {
    text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
    color: #ebeef3;
    font-size: 40px;
    font-weight: 400;
    box-shadow: 1px 5px 0 #015d33;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-add:hover {
    box-shadow: 0px 0px 0 #015d33;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.btn-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 0 #8c0606;
    border-radius: 10px;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    padding-top: 7px;
}

.btn-remove:hover {
    box-shadow: 0px 0px 0 #8c0606;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.sticker-container {
    border-radius: 45px;
    background-color: #ffffff;
    height: 60px;
}

.publish-setting-btn-container {
    justify-content: space-between;
    gap: 10px;
}

.publish-setting-btn-container button, a {
    padding: 7px 20px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: none;
}

.publish-setting-btn-container button::before, a::before {
    position: relative;
    padding-right: 10px;
    right: 5px;
    top: 4px;
}

.share-btn {
    box-shadow: 1px 6px 0 #165c9c;
    text-shadow: 1px 2px 0 #0f406e;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    margin-left: 10px;
}

.share-btn::before {
    content: url(/img/btn-share.png);
}

.share-btn:hover {
    box-shadow: 0px 0px 0 #165c9c;
    position: relative;
    top: 6px;
    cursor: pointer;
}

.save-btn {
    box-shadow: 1px 5px 0 #015d33;
    text-shadow: 1px 2px 0 rgba(1, 65, 36, 0.61);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.save-btn::before {
    content: url(/img/btn-save.png);
}

.save-btn:hover {
    box-shadow: 0px 0px 0 #015d33;
    position: relative;
    top: 6px;
    cursor: pointer;
}

.download-btn {
    box-shadow: 1px 6px 0 #632687;
    text-shadow: 1px 2px 0 #531e72;
    background-image: linear-gradient(-38deg, #a990b8 0%, #9d63be 50%, #8f44bb 100%);
}

.download-btn::before {
    content: url(/img/btn-download.png);
}

.download-btn:hover {
    box-shadow: 0px 0px 0 #632687;
    position: relative;
    top: 2px;
    cursor: pointer;
}

/* MEME GALERRY */

.meme-container {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 20px;
}

.meme-container img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.meme-card {
    align-items: center;
    gap: 10px;
    background-color: rgba(240, 255, 255, 0.438);
    padding: 20px;
    border-radius: 10px;
}

.btn-crudl {
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border: none;
    cursor: pointer;
}

.btn-crudl-remove {
    box-shadow: 1px 5px 0 #8c0606;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.btn-crudl-remove:hover {
    position: relative;
    top: 3px;
    box-shadow: none;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.btn-crudl-edit {
    box-shadow: 1px 5px 0 #165c9c;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-crudl-edit:hover {
    position: relative;
    top: 3px;
    box-shadow: none;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-crudl img {
    position: relative;
    top: 5px;
    height: 30px;
    width: 25px;
}

/* UTILS */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.ellipse {
    border-radius: 37px;
}