* {
    box-sizing: border-box;
}

/* TIPOGRAPHY */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&family=Rubik:wght@300;400;500&display=swap');

/* BASE */

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: #1a1a1ac2;
    border-radius: 20px;
}

html::-webkit-scrollbar-thumb {
    background-color: #424242c2;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px 0px rgba(128, 128, 128, 0.486), inset -1px -1px 2px 0px rgba(0, 0, 0, 0.486);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63);
}

body {
    margin: 0;
    background-color: #22252c;
    font-family: 'Poppins','Rubik', sans-serif;
}

header {
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

@media (min-width: 450px) {
    header {
        border-radius: 37px;
        margin: 0.5rem 0.5rem;
    }
}

img {
    object-fit: cover;
}

main {
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 29px;
    color: white;
    height: 3rem;
}

/* LAYOUT */

.container {
    margin: 0.5rem 0rem;
    padding: 0px 5px;
}

@media (min-width: 590px) {
    .container {
        margin: 0.5rem;
        padding: 0.5rem 1.5rem;
    }
}

.setting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border: none;
    cursor: pointer;
}

.setting-btn:hover {
    position: relative;
    top: 4px;
    box-shadow: 0px 0px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

/* COMPONANTS */

/* Header */

.header-btn-container>* {
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.5rem;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
}

@media (min-width: 370px) {
    .header-btn-container>* {
        font-size: 0.7rem;
        padding: 10px 10px;
    }
}

@media (min-width: 590px) {
    .header-btn-container>* {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.header-btn-container>*:hover {
    background-color: white;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: #00a846;
}

.select-lang option {
    color: black;
}

.logo {
    height: 20px;
    min-width: 100px;
    padding-inline-start: 20px;
    cursor: pointer;
}

/* Hero */

.hero {
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 45vw;
    margin-bottom: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    background-color: white;
    background-image: url(../img/hero.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 1px 8px 2px #0000008a
}

@media (min-width: 450px) {
    .hero {
        margin-bottom: 1rem;
    }
}

.hero h1 {
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.2vw black;
    margin: 1rem;
}

.hero button {
    border-radius: 20px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 28%);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5vw;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    width: 15vw;
}

.hero button:hover {
    animation: hero-btn .5s;
}

.hero-txt.heb{
    color: black;
    -webkit-text-stroke: 0vw rgba(255, 255, 255, 0);
}

@keyframes hero-btn {
    0% {
        transform: rotate(0deg) scale(100%);
    }
    25% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Image gallery */

.gallery-container {
    display: flex;
    flex-direction: column;
}

.search-area {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-keywords {
    background: url(../img/btn-search.png) no-repeat scroll;
    background-size: 4%;
    background-position-x: 95%;
    background-position-y: 50%;
    padding: 3px 20px;
    background-color: rgba(149, 149, 149, 0.493);
    color: rgb(221, 221, 221);
    font-size: 1.5rem;
}

@media (min-width: 800px) {
    .search-area {
        flex-direction: row;
    }
    .input-keywords {
        background-size: 6%;
        background-position-x: 90%;
        background-position-y: 50%;
        padding: 3px 20px;
    }
}

.keywords-area {
    display: flex;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(149, 149, 149, 0.493);
    color: rgb(255, 255, 255);
    height: 3rem;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    gap: 2px;
    border-radius: 37px;
}

.img-gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    gap: 15px;
}

.img-gallery img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #0000004f
}

.img-gallery img:hover {
    box-shadow: 0px 0px 3px 1px #ffffff94
}

/* Canvas editor */

.editor-container {
    padding: 1rem 2.5rem;
    display: none;
    justify-content: space-evenly;
    background-color: transparent;
    gap: 10px;
}

.editor-container::after {
    content: '';
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.editor-container>* {
    background-color: #ebeef315;
    border-radius: 20px;
}

.canvas-container {
    padding: 20px 20px;
    width: 400px;
}

.edit-settings-container {
    padding: 20px 20px;
    width: 400px;
    gap: 10px;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .editor-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .editor-container>* {
        background-color: unset;
        border-radius: unset;
    }
    .canvas-container {
        padding: 0%;
        width: 95vw;
    }
    .edit-settings-container {
        padding: 0%;
        width: 95vw;
    }
}

.input-meme-text {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 1.3em;
    margin: 0%;
}

.line-setting-btn-container {
    justify-content: center;
    gap: 10px;
}

.btn-switch {
    box-shadow: 1px 5px 0 #048b97fb;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-add {
    color: #ebeef3;
    font-size: 50px;
    box-shadow: 1px 5px 0 #015d33;
    text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-remove {
    box-shadow: 1px 5px 0 #8c0606;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    padding-top: 7px;
}

.text-setting-btn-container {
    border-radius: 15px;
    padding: 10px;
    background-color: #19fff346;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    justify-items: center;
}

.font-select {
    grid-column: 4/7;
    width: 100%;
    border-radius: 10px;
    padding-inline-start: 10%;
    font-size: 1rem;
}

@media (max-width: 465px) {
    .btn-txt-up {
        display: none;
    }
    .btn-txt-down {
        display: none;
    }
    .btn-txt-left {
        display: none;
    }
    .btn-txt-right {
        display: none;
    }
    .font-select {
        grid-column: 1/6;
    }
}

.sticker-container {
    justify-content: space-around;
    border-radius: 15px;
    background-color: #ffffff;
    height: 75px;
    padding: 10px;
}

.sticker-container img {
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}

.sticker-container img:not(:last-child):hover {
    transform: rotate(5deg);
}

.publish-setting-btn-container {
    justify-content: space-between;
}

.publish-setting-btn-container button, a {
    margin-inline-end: 5px;
}

.save-btn {
    box-shadow: 1px 5px 0 #015d33;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.save-btn::before {
    content: url(../img/btn-save.png);
}

.share-btn {
    box-shadow: 1px 6px 0 #165c9c;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.share-btn::before {
    content: url(../img/btn-share.png);
}

.download-btn {
    box-shadow: 1px 6px 0 #632687;
    background-image: linear-gradient(-38deg, #a990b8 0%, #9d63be 50%, #8f44bb 100%);
}

.download-btn::before {
    content: url(../img/btn-download.png);
}

.upload-btn {
    position: relative;
    box-shadow: 1px 5px 0 #906116;
    background-image: linear-gradient(-38deg, #dca566 0%, #ce8c40 50%, #bb780c 100%);
    flex-grow: 1;
}

.upload-btn::before {
    content: url(../img/btn-upload.png);
    position: relative;
    top: 5px;
}

.upload-btn input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
    cursor: pointer;
}

.share-confirm-modal {
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 1px 6px 0 #7a7a7a;
}

.modal-btn-area {
    width: 100%;
    justify-content: space-evenly;
}

.share-confirm-modal a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 0%;
    border-radius: 15px;
    width: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
    cursor: pointer;
}

.share-confirm-modal h3 {
    margin: 0%;
}

.share-confirm-modal a:hover {
    position: relative;
    top: 4px;
    box-shadow: 0px 0px 0 rgba(92, 92, 92, 0.55), inset 0 3px 0 rgba(255, 255, 255, 0.301);
}

.confirm-modal-btn {
    box-shadow: 1px 5px 0 #015d33;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.close-modal-btn {
    box-shadow: 1px 5px 0 #8c0606;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.save-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7vh;
    right: 0;
    color: white;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: -1px 2px 4px #00000063;
    width: 20vw;
    height: 7vh;
    transition: 0.3s;
}

.save-modal::after {
    content: url(../img/btn-save.png);
    padding-inline-start: 5px;
    position: relative;
    top: 2px;
}

/* Meme gallery */

.meme-container {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 20px;
}

.meme-container h1 {
    color: white;
    text-align: center;
    grid-column: 1/-1;
}

.meme-container img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.meme-card {
    align-items: center;
    gap: 5px;
    background-color: #ebeef315;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #0000004f
}

.meme-card:hover {
    box-shadow: 0px 0px 3px 1px #ffffff94
}

.crudl-btn-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.btn-crudl {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.btn-crudl:hover {
    position: relative;
    top: 3px;
    box-shadow: none;
}

.btn-crudl-remove {
    box-shadow: 1px 5px 0 #8c0606;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.btn-crudl-edit {
    box-shadow: 1px 5px 0 #165c9c;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-crudl img {
    height: 30px;
    width: 25px;
}

/* HELPERS */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.active {
    background-color: white;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: #00a846;
}

.inactive-btn {
    box-shadow: 1px 5px 0 #2c2c2c;
    background-image: linear-gradient(-38deg, #e9e9e9 0%, #b3b3b3 100%);
    pointer-events: none;
}

.inactive-btn:hover {
    position: relative;
    top: 0px;
    box-shadow: 0px 0px 0px rgba(92, 92, 92, 0.55), inset 0px 0px 0 rgba(255, 255, 255, 0.58);
}

.rtl{
    direction: rtl;
}



